body {
  height: 3000px;
}

header {
  position: relative;
  background-image: url("../images/header-banner.jpg");
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

header .logo_custum {
  width: 120px;
}

header .mt-custum {
  margin-top: 17%;
}

header .mt-custum .text_basic {
  letter-spacing: 0.3em;
}

header .mt-custum .text_emergency {
  font-size: 0.9em;
  letter-spacing: 1px;
}

header .mt-custum .people_img {
  width: 100%;
}

.Statics {
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  background-image: url("../images/statistics-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 150px;
}

.Statics__icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-image: url("../images/sprite-home.png");
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.Statics #one {
  background-position: 0 0;
}

.Statics #one:hover {
  background-position: 0 -75px;
}

.Statics #two {
  background-position: -140px 0;
}

.Statics #two:hover {
  background-position: -140px -75px;
}

.Statics #three {
  background-position: -210px 0;
}

.Statics #three:hover {
  background-position: -210px -75px;
}

.Statics #four {
  background-position: -360px 0;
}

.Statics #four:hover {
  background-position: -360px -75px;
}

.Statics__num {
  font-size: 1.8em;
  font-weight: bold;
}

.Statics__cases--title {
  color: #fd435d;
  font-size: 1.1em;
}

.Statics__num--color1 {
  color: #fd435d;
}

.Statics__deaths--title {
  color: #7218b3;
  font-size: 1.1em;
}

.Statics__num--color2 {
  color: #7218b3;
}

.Statics__recovered--title {
  color: #da6603;
  font-size: 1.1em;
}

.Statics__num--color3 {
  color: #da6603;
}

.Statics__counteries--title {
  color: #a60548;
  font-size: 1.1em;
}

.Statics__num--color4 {
  color: #a60548;
}

.covid {
  margin-top: 7%;
}

.covid_img {
  max-width: 90%;
  margin-right: 15px;
  margin: auto;
}

.covid_img img {
  width: 100%;
}

.covid_text {
  border: 2px solid red;
}

.syptom {
  background-image: url("../images/symptoms-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

.syptom__subtitle {
  font-size: 0.9em;
}

.syptom__icon {
  width: 105px;
  height: 105px;
  display: inline-block;
  background-image: url("../images/sprite-home-v3.png");
  border: 1px dashed black;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.syptom #one {
  background-position: 4px -164px;
}

.syptom #one:hover {
  background-position: 4px -352px;
  background-color: #fd435d;
  border: 1px dashed #fd435d;
}

.syptom #two {
  background-position: -114px -160px;
}

.syptom #two:hover {
  background-position: -114px -350px;
  background-color: #fd435d;
  border: 1px dashed #fd435d;
}

.syptom #three {
  background-position: -238px -160px;
}

.syptom #three:hover {
  background-position: -238px -348px;
  background-color: #fd435d;
  border: 1px dashed #fd435d;
}

.syptom #one_1 {
  background-position: -4px -254px;
}

.syptom #one_1:hover {
  background-position: -4px -446px;
  background-color: #fd435d;
  border: 1px dashed #fd435d;
}

.syptom #two_2 {
  background-position: -122px -254px;
}

.syptom #two_2:hover {
  background-position: -122px -444px;
  background-color: #fd435d;
  border: 1px dashed #fd435d;
}

.syptom #three_3 {
  background-position: -237px -254px;
}

.syptom #three_3:hover {
  background-position: -237px -446px;
  background-color: #fd435d;
  border: 1px dashed #fd435d;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  font-size: 0.9em;
}

.color_links_active, header .navbar-light .navbar-nav .nav-link.active, header .navbar-light .navbar-nav .nav-link:hover {
  color: #f8315a;
}

.color_links, header .navbar-light .navbar-nav .nav-link, header .mt-custum .text {
  color: #fff;
}

.font_covid, header .mt-custum .text_covid {
  font-size: 2.8em;
  font-weight: bold;
}

.btn-custum {
  background-color: #f8315a;
  width: 150px;
  border-radius: 100px;
  border: none;
}

.btn-custum--start {
  width: 190px;
  padding: 10px 5px;
}

.nav-link.btn-custum:hover {
  background-color: #f8315a;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */